{% extends 'base_index.html' %}

{% block navbar %}
<li class="nav-item">
<a class="nav-link waves-effect" href="{% url 'recipe:index' %}">Recipes</a>
</li>
<li class="nav-item active">
<a class="nav-link waves-effect" href="{% url 'store:index' %}">Stores
	<span class="sr-only">(current)</span>
</a>
</li>
<li class="nav-item">
<a class="nav-link waves-effect" href="{% url 'recipe:create' %}">Create New Recipe</a>
</li>
<li class="nav-item">
<a class="nav-link waves-effect" href="{% url 'recipe:index' %}">Update Prices</a>
</li>
{% endblock navbar %}

{% block store_content %}

{% for store in stores %}

<!--Grid column-->
<div class="col-lg-3 col-md-6 mb-4">

<!--Card-->
<div class="card">

  <!--Card image-->
  <div id="googleMap" class="view overlay">
  </div>
  <!--Card image-->

  <script>
	function myMap() {
	var mapProp= {
	    center:new google.maps.LatLng(51.508742,-0.120850),
	    zoom:5,
	};
	var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
	}
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>

  <!--Card content-->
  <div class="card-body text-center">
    <!--Category & Title-->
    <a href="" class="grey-text">
      <h5>{{ store.location }}</h5>
    </a>
    <h5>
      <strong>
        <a href="" class="dark-grey-text">{{ store }}
          <span class="badge badge-pill danger-color">NEW</span>
        </a>
      </strong>
    </h5>

    <h4 class="font-weight-bold blue-text">
      <strong>{{ store.visit }}</strong>
    </h4>

  </div>
  <!--Card content-->

</div>
<!--Card-->

</div>
<!--Grid column-->


{% endfor %}

{% endblock store_content %}

